version: "3"

include:
  - docker-compose.cache.yaml


services:
  nginx:
    image: nginx:1.25
    container_name: pablog-frontend
    restart: unless-stopped
    ports:
      - "8001:8001"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
      - ../logs/nginx/:/var/log/nginx/
      - app_runtime:/var/run/pablog-service/
    networks:
      web:
    depends_on:
      - api
    healthcheck:
      test: curl -s http://127.0.0.1:8001/api/v1/healthcheck > /dev/null || exit 1
      interval: 5s
      timeout: 10s
      retries: 5

  api:
    build:
      context: ../
      target: prod
    container_name: pablog-api
    restart: unless-stopped
    env_file:
      - ./server/.env.server
    environment:
      - oauth_rsa_private_key=${oauth_rsa_private_key}
      - oauth_rsa_public_key=${oauth_rsa_public_key}
    volumes:
      - ../logs/pablog.logs:/opt/pablog-service/logs/pablog.logs
      - ../bin/utils/ipython_helper.py:/opt/pablog-service/ipython_helper.py
      - ../db/:/var/db/
      - app_runtime:/var/run/pablog-service/
    networks:
      - web
      - cache
    depends_on:
      cache:
        condition: service_healthy


volumes:
  app_runtime:


networks:
  web:
